@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.bgdashboard {
  background: #F6F6F6;
  background-size: cover;
  content-visibility: auto;
}

.bg-rectangle {
  background-image: url(assets/dashboard/rectangles.svg);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

#selection {
  -webkit-appearance: none;
  appearance: none;
  border: none;
} 

.fileInput {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  position:absolute;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

#menu::-webkit-scrollbar {
  width: 3px;
  background: white;
}

#menu::-webkit-scrollbar-thumb {
  background: #a4c4ff;
  border-radius: 4px;
}

.sidebar-animation-in {
  animation: sidebar-animation-in 0.2s ease;
}

@keyframes sidebar-animation-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}