@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.bgdashboard {
  background: #F6F6F6;
  background-size: cover;
  content-visibility: auto;
}

.bg-rectangle {
  background-image: url(assets/dashboard/rectangles.svg);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

select {
  position: relative;
}
select::after {
  content: "arrow";
  font-size: 16px;
  color: black;
  width: 20px;
  height: 20px;
  display: block;
  right: 40px;
  position: absolute;
}
